/*
!/.gitignore
!/src
!/gradle
!/gradlew
!/gradlew.bat
!/README.md
!/License.txt
!/build.gradle.kts
!/build.bat
!/build.sh
!/build.properties
!/changelog.txt
!/gradle.properties
!/.gitlab-ci.yml
!libs/*