/*
!/.gitignore
!/src
!/gradle
!/gradlew
!/gradlew.bat
!/README.md
!/LICENSE
!/build.gradle.kts
!/build.bat
!/build.sh
!/build.properties
!/changelog.txt
!/gradle.properties
!/.gitlab-ci.yml
!common
!forge
!neoforge
!fabric
!libs/*
!/.github
fabric/.gradle
fabric/build
forge/build
forge/.gradle
common/build
common/.gradle